# Yahoo Finance API Example Usage

### Pip Install Command

In [10]:
!pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/85/56/5e26c150517acbdce8e31d3e6169530e102a0575f5eb1a4310753e53a424/yfinance-0.1.50.tar.gz
Requirement already satisfied: pandas>=0.24 in c:\users\ord-ryanmi\appdata\local\continuum\anaconda3\lib\site-packages (from yfinance) (0.24.2)
Requirement already satisfied: numpy>=1.15 in c:\users\ord-ryanmi\appdata\local\continuum\anaconda3\lib\site-packages (from yfinance) (1.16.2)
Requirement already satisfied: requests>=2.20 in c:\users\ord-ryanmi\appdata\local\continuum\anaconda3\lib\site-packages (from yfinance) (2.21.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading https://files.pythonhosted.org/packages/69/e7/e9f1661c28f7b87abfa08cb0e8f51dad2240a9f4f741f02ea839835e6d18/multitasking-0.0.9.tar.gz
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\ord-ryanmi\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.0)
Requirement already satisfied: pytz>=2011k in c:\users\ord-ryanmi\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\ord-ryanmi\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\ord-ryanmi\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\ord-ryanmi\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ord-ryanmi\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2019.6.16)
Requirement already satisfied: six>=1.5 in c:\users\ord-ryanmi\appdata\local\continuum\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas>=0.24->yfinance) (1.12.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py): started
  Building wheel for yfinance (setup.py): finished with status 'done'
  Stored in directory: C:\Users\ord-ryanmi\AppData\Local\pip\Cache\wheels\19\2a\e6\b4d4cc977576e18220a36866acf2f2cf7241f16af5f8795b17
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Stored in directory: C:\Users\ord-ryanmi\AppData\Local\pip\Cache\wheels\37\fa\73\d492849e319038eb4d986f5152e4b19ffb1bc0639da84d2677
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.50

### Importing Dependencies

In [11]:
import yfinance as yf

### Downloading 5 Years of JPM Adjusted Close Prices

In [27]:
df = yf.download("SPY  JPM", start="2014-01-01", end="2019-11-14",
                   group_by="ticker", auto_adjust=True)
df.head()

[*********************100%***********************]  2 of 2 completed

                  JPM                                                    SPY  \
                 Open       High        Low      Close    Volume        Open
Date
2014-01-02  49.814578  49.976895  49.524113  49.729145  15627600  164.330132
2014-01-03  49.797490  50.361332  49.729144  50.113583  14214100  163.660205
2014-01-06  50.540730  50.805566  50.258811  50.404041  17550700  163.892464
2014-01-07  50.651790  50.771392  49.643709  49.823112  17851200  163.535214
2014-01-08  50.011057  50.327149  49.806022  50.292976  14687400  163.856720


                  High         Low       Close     Volume
Date
2014-01-02  164.410530  162.990338  163.383347  119636900
2014-01-03  163.990696  163.124296  163.356522   81390600
2014-01-06  163.954980  162.633055  162.883148  108028200
2014-01-07  164.160449  163.410168  163.883560   86144200
2014-01-08  164.196139  163.356533  163.919250   96582300

In [34]:
jpm_df = df['JPM']
jpm_df.head()

                 Open       High        Low      Close    Volume
Date
2014-01-02  49.814578  49.976895  49.524113  49.729145  15627600
2014-01-03  49.797490  50.361332  49.729144  50.113583  14214100
2014-01-06  50.540730  50.805566  50.258811  50.404041  17550700
2014-01-07  50.651790  50.771392  49.643709  49.823112  17851200
2014-01-08  50.011057  50.327149  49.806022  50.292976  14687400

In [39]:
print("JPM First Date: ",jpm_df.index.min())
print("JPM Last Date: ",jpm_df.index.max())

JPM First Date:  2014-01-02 00:00:00
JPM Last Date:  2019-11-13 00:00:00